/* Import GRID */
@import 'grid.less';
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

/*  FONT */
@font-face {
  font-family: 'nexa_lightregular';
  src: url('../font/Nexa_Free_Light-webfont.eot');
  src: url('../font/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Nexa_Free_Light-webfont.woff') format('woff'),
  url('../font/Nexa_Free_Light-webfont.ttf') format('truetype'),
  url('../font/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_boldregular';
  src: url('../font/exa_Free_Bold-webfont.eot');
  src: url('../font/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Nexa_Free_Bold-webfont.woff') format('woff'),
  url('../font/Nexa_Free_Bold-webfont.ttf') format('truetype'),
  url('../font/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@nexaLight: nexa_lightregular,Arial, sans-serif;
@nexaBold: nexa_boldregular, Arial, sans-serif;

/* DESIGN */
@bodyColor: #D9D9D9;
@contentColor: #FFFFFF;
@titleColor: #5F9AB9;
@textColorButton: #F8F9FA;
@textColor: #7D7C7C;

@border: 1px solid #F8F9FA;

@gardient: linear-gradient(bottom, rgb(45,109,138) 14%, rgb(79,144,176) 57%, rgb(101,168,199) 79%);
@gardientLinear: -o-linear-gradient(bottom, rgb(45,109,138) 14%, rgb(79,144,176) 57%, rgb(101,168,199) 79%);
@gardientMoz: -moz-linear-gradient(bottom, rgb(45,109,138) 14%, rgb(79,144,176) 57%, rgb(101,168,199) 79%);
@gardientWebk: -webkit-linear-gradient(bottom, rgb(45,109,138) 14%, rgb(79,144,176) 57%, rgb(101,168,199) 79%);
@gardientMs: -ms-linear-gradient(bottom, rgb(45,109,138) 14%, rgb(79,144,176) 57%, rgb(101,168,199) 79%);

@boxShadow: 3px 3px 9px rgba(0, 0, 0, .2);
@borderRWebK: 6px;
@borderRMoz: 6px;
@borderR: 6px;


/************************************************
/* RESTE MEYER
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/************************************************
/* FIN RESTE MEYER
************************************************/

body{
    background-color: @bodyColor;
    font-size: 16px;
    color: @textColor;
    font-size: 14px;
    font-family: @nexaLight;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.content{
  .column(12);
}

.membre, article, .sectionContent, .error{
    background-color: @contentColor;
    border: @border;
    box-shadow:@boxShadow;
}

.membre, .postModifcation, .error{
  .column(6);
  .push(3);
  padding: 1em;
}

h1{
    color: @titleColor;
    font-family: @nexaBold;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

h1 a{
    color: @titleColor;
    text-decoration: none;
}

h2{
    color: @titleColor;
    font-family: @nexaBold;
}

textarea{
  color: @textColor;
  width: 99%;
}

article, .ajout, .postSubmit, .sectionContent{
    padding: 1em;
    margin: 1em 0;
}

section{
  .column(12);
}

a{
  text-decoration: none;
  color: @textColor;
}

h3{
    color: @titleColor;
    margin: 0.5em 0;
}

p{
    margin: 0.5em 0 1em 0;
  line-height: 1.25em;
}

.sectionContent{
  padding-bottom: 4em;
}

/* Header et Log Off */
header h2{
  .column(10);
  margin-top: 1em;
  margin-bottom: 1em;
}

.logOff{
  .column(2);
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.logOff a{
  text-decoration: underline;
}

.logOff a:hover{
  color: @titleColor;
}

/*  Listing du post */
.lien, .ajoutInput, .ajoutTextarea{
  background-image: @gardient;
  background-image: @gardientLinear;
  background-image: @gardientMoz;
  background-image: @gardientWebk;
  background-image: @gardientMs;
  box-shadow:@boxShadow;
  margin-bottom: 1em;
  padding: 1em 0.5em;
  margin-top: 1em;
}

.lien{
 height: 30px;
}

.lien input[type=text]{
  .column(8);
}

.lien input[type=submit]{
  border: @border;
  box-shadow:1px 1px 8px #545F6B;
  height: 26px;
  .column(3.5);
}
.pseudo{
  color: @titleColor;
  font-size: 2em;
  float: none;
}

.propos{
  margin-right: 2em;
}

.modifier{
  height: 25px;
}

.modifier p a:hover, .error p a:hover{
  text-decoration: underline;
  color: @titleColor;
}

.icon-cancel a:hover{
  color: red;
}

.icon-pencil-alt a:hover{
  color: green;
}

.modifier p{
  display: inline-block;
  margin-right: 2em;
  float: right;
}

img
{
  max-width: 800px;
}

.site a{
  text-decoration: none;
  color: @titleColor;
  font-family: @nexaBold;
}

.site a:hover{
  text-decoration: underline;
}

.infoSite{
  border-top: 1px solid #E3D8D8;
  border-bottom: 1px solid #E3D8D8;
  padding: 16px 0px;
}

/*  Formulaire de modification */
label{
  color: @contentColor;
}

/* Formulaire d'ajout */

.formAjout{
  width: 870px;
}

.images input{
  float: left;
  width: 30%;
  margin-left: 3%;
}

input[type=radio]{
  width: 25px;
  margin-left: 30%;
}

.inputImg{
  float: left;
  margin: 0.5em 2em;
}

.boutton{
  clear: both;
}

.boutton input[type=submit], .boutton a, .boutton input[type=button]{
  .column(4);
  margin-bottom: 1em;
}

.boutton input[type="submit"]{
  .push(4);
}

/* Formulaire de connexion et ajout membre */
input{
    height: 21px;
    color: @textColor;
}

.formConnexion .ajoutInput input{
  width: 430px;
}

input[type=submit], button{
  width: 125px;
  height: 28px;
  background-image: @gardient;
  background-image: @gardientLinear;
  background-image: @gardientMoz;
  background-image: @gardientWebk;
  background-image: @gardientMs;
  color: @textColorButton;
}

.membre input[type=submit], button, .postModifcation input[type=submit], .boutton input[type=submit]{
  -webkit-border-radius: @borderRWebK;
  -moz-border-radius: @borderRMoz;
  border-radius: @borderR;
  margin-top: 1em;
  box-shadow: @boxShadow;
}

button a{
  color: @textColorButton;
}
/*  Page d'erreur */
.error h2{
  float: none;
  margin: 0;
}

/*************** MEDIA 481px **************/

@media only screen and (max-width: 481px){
  body{
    background-color: yellow;
  }
}
/*************** MEDIA 482px - 768px **************/
@media only screen and (min-width: 483px) and (max-width: 768px) {
  body{
    background-color: red;
  }

}

/*************** MEDIA 945px - 770px **************/
@media only screen and (min-width: 770px) and (max-width: 950px) {
    body{
      max-width: 825px;
      min-width: 770px;
      margin: 0 auto;
      background-color: blue;
    }

  .lien input[type="text"]{
    width: 500px;
  }
}