/* Import GRID */
@import 'grid.less';
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

/*  FONT */
@font-face {
  font-family: 'nexa_lightregular';
  src: url('../font/Nexa_Free_Light-webfont.eot');
  src: url('../font/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Nexa_Free_Light-webfont.woff') format('woff'),
  url('../font/Nexa_Free_Light-webfont.ttf') format('truetype'),
  url('../font/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_boldregular';
  src: url('../font/exa_Free_Bold-webfont.eot');
  src: url('../font/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Nexa_Free_Bold-webfont.woff') format('woff'),
  url('../font/Nexa_Free_Bold-webfont.ttf') format('truetype'),
  url('../font/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@nexaLight: nexa_lightregular,Arial, sans-serif;
@nexaBold: nexa_boldregular, Arial, sans-serif;

/* DESIGN */
@bodyColor: #D9D9D9;
@contentColor: #FFFFFF;
@titleColor: #5F9AB9;
@textColorButton: #F8F9FA;
@textColor: #7D7C7C;

@border: 1px solid #F8F9FA;

//Gardient des boutons généraux
@gardient: #2d6d8a; /* Old browsers */
@gardientMozL: -moz-linear-gradient(top,  #2d6d8a 14%, #4f90b0 57%, #65a8c7 79%); /* FF3.6+ */
@gardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#2d6d8a), color-stop(57%,#4f90b0), color-stop(79%,#65a8c7)); /* Chrome,Safari4+ */
@gardientWebL: -webkit-linear-gradient(top,  #2d6d8a 14%,#4f90b0 50%,#65a8c7 79%); /* Chrome10+,Safari5.1+ */
@gardientOL: -o-linear-gradient(top,  #2d6d8a 14%,#4f90b0 57%,#65a8c7 79%); /* Opera 11.10+ */
@gardientMsL: -ms-linear-gradient(top,  #2d6d8a 14%,#4f90b0 57%,#65a8c7 79%); /* IE10+ */
@gardientL: linear-gradient(to bottom,  #2d6d8a 14%,#4f90b0 57%,#65a8c7 79%); /* W3C */
@gardientFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6d8a', endColorstr='#65a8c7',GradientType=0 ); /* IE6-9 */

//Gardient des boutons généraux hover
@hoverGardient: #7db9e8; /* Old browsers */
@hoverGardientMozL: -moz-linear-gradient(top, #65a8c7 14%, #4f90b0 57%, #2d6d8a 79%); /* FF3.6+ */
@hoverGardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#65a8c7), color-stop(57%,#4f90b0), color-stop(79%,#2d6d8a)); /* Chrome,Safari4+ */
@hoverGardientWebL: -webkit-linear-gradient(top, #65a8c7 14%,#4f90b0 57%,#2d6d8a 79%); /* Chrome10+,Safari5.1+ */
@hoverGardientOL: -o-linear-gradient(top, #65a8c7 14%,#4f90b0 57%,#2d6d8a 79%); /* Opera 11.10+ */
@hoverGardientMsL: -ms-linear-gradient(top, #65a8c7 14%,#4f90b0 57%,#2d6d8a 79%); /* IE10+ */
@hoverGardientL: linear-gradient(to bottom, #65a8c7 14%,#4f90b0 57%,#2d6d8a 79%); /* W3C */
@hoverFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65a8c7', endColorstr='#2d6d8a',GradientType=0 ); /* IE6-9 */

//Gardient du bouton de modification
@updateGardient: #8fc800; /* Old browsers */
@updateGardientMozL: -moz-linear-gradient(top, #8fc800 0%, #36af4c 100%); /* FF3.6+ */
@updateGardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc800), color-stop(100%,#36af4c)); /* Chrome,Safari4+ */
@updateGardientWebL: -webkit-linear-gradient(top, #8fc800 0%,#36af4c 100%); /* Chrome10+,Safari5.1+ */
@updateGardientOL: -o-linear-gradient(top, #8fc800 0%,#36af4c 100%); /* Opera 11.10+ */
@updateGardientMsL: -ms-linear-gradient(top, #8fc800 0%,#36af4c 100%); /* IE10+ */
@updateGardientL: linear-gradient(to bottom, #8fc800 0%,#36af4c 100%); /* W3C */
@updateFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#36af4c',GradientType=0 ); /* IE6-9 */

//Gardient du bouton de modification hover
@hoverUpdateGardient: #36af4c; /* Old browsers */
@hoverUpdateGardientMozL: -moz-linear-gradient(top, #36af4c 0%, #8fc800 100%); /* FF3.6+ */
@hoverUpdateGardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36af4c), color-stop(100%,#8fc800)); /* Chrome,Safari4+ */
@hoverUpdateGardientWebL: -webkit-linear-gradient(top, #36af4c 0%,#8fc800 100%); /* Chrome10+,Safari5.1+ */
@hoverUpdateGardientOL: -o-linear-gradient(top, #36af4c 0%,#8fc800 100%); /* Opera 11.10+ */
@hoverUpdateGardientMsL: -ms-linear-gradient(top, #36af4c 0%,#8fc800 100%); /* IE10+ */
@hoverUpdateGardientL: linear-gradient(to bottom, #36af4c 0%,#8fc800 100%); /* W3C */
@hoverUpdateFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36af4c', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */

//Gardient du bouton de supression
@deletGardient: #e50003; /* Old browsers */
@deletGardientMozL: -moz-linear-gradient(top,  #e50003 0%, #aa0303 99%); /* FF3.6+ */
@deletGardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e50003), color-stop(99%,#aa0303)); /* Chrome,Safari4+ */
@deletGardientWebL: -webkit-linear-gradient(top,  #e50003 0%,#aa0303 99%); /* Chrome10+,Safari5.1+ */
@deletGardientOL: -o-linear-gradient(top,  #e50003 0%,#aa0303 99%); /* Opera 11.10+ */
@deletGardientMsL: -ms-linear-gradient(top,  #e50003 0%,#aa0303 99%); /* IE10+ */
@deletGardientL: linear-gradient(to bottom,  #e50003 0%,#aa0303 99%); /* W3C */
@deletFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50003', endColorstr='#aa0303',GradientType=0 ); /* IE6-9 */

//Gardient du bouton de supression hover
@hoverDeletGardient: #aa0303; /* Old browsers */
@hoverDeletGardientMozL: -moz-linear-gradient(top, #aa0303 0%, #e50003 100%); /* FF3.6+ */
@hoverDeletGardientWeb: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa0303), color-stop(100%,#e50003)); /* Chrome,Safari4+ */
@hoverDeletGardientWebL: -webkit-linear-gradient(top, #aa0303 0%,#e50003 100%); /* Chrome10+,Safari5.1+ */
@hoverDeletGardientOL: -o-linear-gradient(top, #aa0303 0%,#e50003 100%); /* Opera 11.10+ */
@hoverDeletGardientMsL: -ms-linear-gradient(top, #aa0303 0%,#e50003 100%); /* IE10+ */
@hoverDeletGardientL: linear-gradient(to bottom, #aa0303 0%,#e50003 100%); /* W3C */
@hoverDeletFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0303', endColorstr='#e50003',GradientType=0 ); /* IE6-9 */

@boxShadow: 3px 3px 9px rgba(0, 0, 0, .2);
@borderRWebK: 6px;
@borderRMoz: 6px;
@borderR: 6px;


/************************************************
/* RESTE MEYER
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/************************************************
/* FIN RESTE MEYER
************************************************/

/* IE */
header, nav, section, article, aside, footer {
  display:block;
}

/*  General */
html, body{
  height: 100%;
}

body{
    background-color: @bodyColor;
    font-size: 16px;
    color: @textColor;
    font-size: 14px;
    font-family: @nexaLight;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  height: 95%;
}

.content{
  .column(12);
}

.membre, article, .sectionContent, .error{
    background-color: @contentColor;
    border: @border;
    box-shadow:@boxShadow;
}

.membre, .postModifcation, .error{
  .column(6);
  .push(3);
  padding: 1em;
}

h1{
    color: @titleColor;
    font-family: @nexaBold;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

h1 a{
    color: @titleColor;
    text-decoration: none;
}

h2{
    color: @titleColor;
    font-family: @nexaBold;
}

textarea{
  color: @textColor;
  width: 99%;
}

article, .ajout, .postSubmit, .sectionContent{
    padding: 1em;
    margin: 1em 0;
}

section{
  .column(12);
}

section footer p{
  text-align: center;
}

section footer strong{
  font-family: @nexaBold;
}

section footer a{
  margin: 0.5em;
}

section footer a:hover{
  color: @titleColor;
  font-family: @nexaBold;
}

a{
  text-decoration: none;
  color: @textColor;
}

h3{
    color: @titleColor;
    margin: 0.5em 0;
}

p{
    margin: 0.5em 0 1em 0;
  line-height: 1.25em;
}

.sectionContent{
  padding-bottom: 4em;
}

body>footer{
  clear: both;
  background-color: @contentColor;
  height: 5%;
}

body>footer p{
  margin: 0 auto;
  width: 960px;
  text-align: center;
  padding: 1em 0;
}

/* Header et Log Off */
header h2{
  .column(10);
  margin-top: 1em;
  margin-bottom: 1em;
}

.logOff{
  .column(2);
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.logOff a{
  text-decoration: underline;
}

.logOff a:hover{
  color: @titleColor;
}

/*  Listing du post */
.lien, .ajoutInput, .ajoutTextarea{
  background: @gardient;
  background: @gardientMozL;
  background: @gardientWeb;
  background: @gardientWebL;
  background: @gardientOL;
  background: @gardientMsL;
  background: @gardientL;
  filter: @gardientFilter;
  box-shadow:@boxShadow;
  margin-bottom: 1em;
  padding: 1em 0.5em;
  margin-top: 1em;
}

.lien{
 height: 30px;
}

.lien input[type=text]{
  .column(8);
}

.lien input[type=submit]{
  border: @border;
  box-shadow:1px 1px 8px #545F6B;
  height: 26px;
  .column(3.5);
}
.pseudo{
  color: @titleColor;
  font-size: 2em;
  float: none;
}

.propos{
  margin-right: 2em;
}

.modifier{
  height: 25px;
}

.modifier p a:hover, .error p a:hover{
  text-decoration: underline;
  color: @titleColor;
}

.modifier .icon-cancel a:hover{
  color: red;
}

.modifier .icon-pencil-alt a:hover{
  color: green;
}

.modifier p{
  display: inline-block;
  margin-right: 2em;
  float: right;
}

img
{
  max-width: 800px;
}

.site a{
  text-decoration: none;
  color: @titleColor;
  font-family: @nexaBold;
}

.site a:hover{
  text-decoration: underline;
}

.infoSite{
  border-top: 1px solid #E3D8D8;
  border-bottom: 1px solid #E3D8D8;
  padding: 16px 0px;
}

/*  Formulaire de modification */
label{
  color: @contentColor;
}

/* Formulaire d'ajout */

.formAjout{
  width: 99%;
}

.images input{
  float: left;
  width: 30%;
  margin-left: 3%;
}

input[type=radio]{
  width: 25px;
  margin-left: 30%;
}

.inputImg{
  float: left;
  margin: 0.5em 2em;
}

.boutton{
  clear: both;
}

.boutton input[type=submit], .boutton a, .boutton input[type=button]{
  .column(4);
  margin-bottom: 1em;
}

.boutton input[type="submit"]{
  .push(4);
}

/* Formulaire de connexion et ajout membre */
input{
    height: 21px;
    color: @textColor;
}

.formConnexion .ajoutInput input{
  width: 99%;
}

input[type=submit], button{
  width: 125px;
  height: 28px;
  background: @gardient;
  background: @gardientMozL;
  background: @gardientWeb;
  background: @gardientWebL;
  background: @gardientOL;
  background: @gardientMsL;
  background: @gardientL;
  filter: @gardientFilter;
  color: @textColorButton;
}

.membre input[type=submit], button, .postModifcation input[type=submit], .boutton input[type=submit]{
  -webkit-border-radius: @borderRWebK;
  -moz-border-radius: @borderRMoz;
  border-radius: @borderR;
  margin-top: 1em;
  box-shadow: @boxShadow;
}

button:hover, input[type=submit]:hover{
  background: @hoverGardient;
  background: @hoverGardientMozL;
  background: @hoverGardientWeb;
  background: @hoverGardientWebL;
  background: @hoverGardientOL;
  background: @hoverGardientMsL;
  background: @hoverGardientL;
  filter: @hoverFilter;
  border: 1px solid grey;
}

input[type=submit]:active, .boutton button:active{
  border: 1px solid grey;
  background: @gardient;
  background: @gardientMozL;
  background: @gardientWeb;
  background: @gardientWebL;
  background: @gardientOL;
  background: @gardientMsL;
  background: @gardientL;
  filter: @gardientFilter;
}

button a{
  color: @textColorButton;
}
/*  Page d'erreur */
.error h2{
  float: none;
  margin: 0;
}

/*************** MEDIA 481px **************/

@media only screen and (max-width: 481px){
//Contenu générale
  .container{
    width: 100%;
    margin: 0 auto;
  }

  .error, .membre{
    .column(9);
    .push(1);
    margin-bottom: 2em;
  }

  body>footer p{
    width: 100%;
  }

  body>footer{
    height: 75px;
  }

  .formConnexion .ajoutInput input, input[type=text]{
    width: 96%;
  }

  input{
    height: 25px;
  }

//Connexion/déconnexion
  .logOff, section footer a:hover, section footer strong, .error a{
    background: @gardient;
    background: @gardientMozL;
    background: @gardientWeb;
    background: @gardientWebL;
    background: @gardientOL;
    background: @gardientMsL;
    background: @gardientL;
  }

  .logOff{
    height: 50px;
    .column(12);
    filter: @gardientFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  .logOff a{
    height: 35px;
    .column(12);
    padding-top: 1.25em;
    text-decoration: none;
    color: @textColorButton;
  }

  section footer a, section footer strong, .error a, .error p a:hover{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: @textColorButton;
  }

  .logOff a:hover, section footer a:hover{
    color: @textColorButton;
  }

  .logOff:hover, section footer strong:hover, section footer a, .error a:hover{
    background: @hoverGardient;
    background: @hoverGardientMozL;
    background: @hoverGardientWeb;
    background: @hoverGardientWebL;
    background: @hoverGardientOL;
    background: @hoverGardientMsL;
    background: @hoverGardientL;
    filter: @hoverFilter;
  }

  header h2, .lien input[type="text"], .lien input[type="submit"]{
    .column(12);
    margin-bottom: 1em;
  }

  //Lien URL partage
  .lien input[type=text]{
    width: 96%;
  }

  .lien{
    height: 70px;
  }

//Bouton de modification/supression
  article{
    padding-bottom: 6.5em;
  }

  .modifier p:last-child{
    background: @updateGardient;
    background: @updateGardientMozL;
    background: @updateGardientWebL;
    background: @updateGardientWeb;
    background: @updateGardientOL;
    background: @updateGardientMsL;
    background: @updateGardientL;
    filter: @updateFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:last-child:hover{
    background: @hoverUpdateGardient;
    background: @hoverUpdateGardientMozL;
    background: @hoverUpdateGardientWebL;
    background: @hoverUpdateGardientWeb;
    background: @hoverUpdateGardientOL;
    background: @hoverUpdateGardientMsL;
    background: @hoverUpdateGardientL;
    filter: @hoverUpdateFilter;
  }

  .modifier p:first-child{
    background: @deletGardient;
    background: @deletGardientMozL;
    background: @deletGardientWebL;
    background: @deletGardientWeb;
    background: @deletGardientOL;
    background: @deletGardientMsL;
    background: @deletGardientL;
    filter: @deletFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:first-child:hover{
    background: @hoverDeletGardient;
    background: @hoverDeletGardientMozL;
    background: @hoverDeletGardientWebL;
    background: @hoverDeletGardientWeb;
    background: @hoverDeletGardientOL;
    background: @hoverDeletGardientMsL;
    background: @hoverDeletGardientL;
    filter: @hoverDeletFilter;
  }

  .modifier a,  .modifier .icon-pencil-alt a:hover, .modifier .icon-cancel a:hover, .error a{
    color: @textColorButton;
    text-decoration: none;
  }

  .modifier p{
    .column(12);
    padding: 0.5em 0;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    color: @textColorButton;
  }

//Pagination + bouton erreur
  section footer a, section footer strong, .error a{
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  section footer a, section footer strong{
    width: 10px;
  }

  //Image
  article img{
    max-width: 250px;
  }

  //Boutton
  button{
    width: 75px;
  }

}

/*************** MEDIA 482px - 768px **************/
//@media only screen and (max-width: 768px) and (min-width: 483px)
@media only screen and (min-width: 483px) and (max-width: 768px){
//Contenu générale
  .container{
    width: 100%;
    margin: 0 auto;
  }

  .error, .membre{
    .column(10);
    .push(1);
    margin-bottom: 2em;
  }

  body>footer p{
    width: 100%;
  }

  body>footer{
    height: 100px;
  }

  .formConnexion .ajoutInput input, input[type=text]{
    width: 97%;
  }

  input{
    height: 25px;
  }

//Connexion/déconnexion
  .logOff, section footer a:hover, section footer strong, .error a{
    background: @gardient;
    background: @gardientMozL;
    background: @gardientWeb;
    background: @gardientWebL;
    background: @gardientOL;
    background: @gardientMsL;
    background: @gardientL;
  }

  .logOff{
    height: 31px;
    .column(4);
    filter: @gardientFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  .logOff a, .modifier p, section footer a, section footer strong, .error a, .error p a:hover{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: @textColorButton;
  }

  .logOff a:hover, section footer a:hover{
    color: @textColorButton;
  }

  .logOff:hover, section footer strong:hover, section footer a, .error a:hover{
    background: @hoverGardient;
    background: @hoverGardientMozL;
    background: @hoverGardientWeb;
    background: @hoverGardientWebL;
    background: @hoverGardientOL;
    background: @hoverGardientMsL;
    background: @hoverGardientL;
    filter: @hoverFilter;
  }

  header h2{
    .column(8);
  }

//Bouton de modification/supression

  article{
    padding-bottom: 2em;
  }

  .modifier p:last-child{
    background: @updateGardient;
    background: @updateGardientMozL;
    background: @updateGardientWebL;
    background: @updateGardientWeb;
    background: @updateGardientOL;
    background: @updateGardientMsL;
    background: @updateGardientL;
    filter: @updateFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:last-child:hover{
    background: @hoverUpdateGardient;
    background: @hoverUpdateGardientMozL;
    background: @hoverUpdateGardientWebL;
    background: @hoverUpdateGardientWeb;
    background: @hoverUpdateGardientOL;
    background: @hoverUpdateGardientMsL;
    background: @hoverUpdateGardientL;
    filter: @hoverUpdateFilter;
  }

  .modifier p:first-child{
    background: @deletGardient;
    background: @deletGardientMozL;
    background: @deletGardientWebL;
    background: @deletGardientWeb;
    background: @deletGardientOL;
    background: @deletGardientMsL;
    background: @deletGardientL;
    filter: @deletFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:first-child:hover{
    background: @hoverDeletGardient;
    background: @hoverDeletGardientMozL;
    background: @hoverDeletGardientWebL;
    background: @hoverDeletGardientWeb;
    background: @hoverDeletGardientOL;
    background: @hoverDeletGardientMsL;
    background: @hoverDeletGardientL;
    filter: @hoverDeletFilter;
  }

  .modifier a,  .modifier .icon-pencil-alt a:hover, .modifier .icon-cancel a:hover, .error a{
    color: @textColorButton;
    text-decoration: none;
  }

  .modifier p{
    color: @textColorButton;
  }

//Pagination + bouton erreur
  section footer a, section footer strong, .error a{
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  section footer a, section footer strong{
    width: 10px;
  }

}

/*************** MEDIA 945px - 770px **************/

@media only screen and (max-width: 950px) and (min-width: 770px) {
  //Contenu générale
  .container{
      width: 100%;
      margin: 0 auto;
    }

  .error, .membre{
    .column(10);
    .push(1);
  }

  body>footer p{
    width: 100%;
  }

  //Connexion/déconnexion
  .logOff, section footer a:hover, section footer strong .error a{

    background: @gardient;
    background: @gardientMozL;
    background: @gardientWeb;
    background: @gardientWebL;
    background: @gardientOL;
    background: @gardientMsL;
    background: @gardientL;
  }

  .logOff{
    height: 31px;
    .column(4);
    filter: @gardientFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  .logOff a, .modifier p, section footer a, section footer strong, .error a, .error p a:hover{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: @textColorButton;
  }

  .logOff a:hover, section footer a:hover{
    color: @textColorButton;
  }

  .logOff:hover, section footer strong:hover, section footer a, .error a:hover{
    background: @hoverGardient;
    background: @hoverGardientMozL;
    background: @hoverGardientWeb;
    background: @hoverGardientWebL;
    background: @hoverGardientOL;
    background: @hoverGardientMsL;
    background: @hoverGardientL;
    filter: @hoverFilter;
  }

  header h2{
    .column(8);
  }

  //Bouton de modification/supression
  .modifier p:last-child{
    background: @updateGardient;
    background: @updateGardientMozL;
    background: @updateGardientWebL;
    background: @updateGardientWeb;
    background: @updateGardientOL;
    background: @updateGardientMsL;
    background: @updateGardientL;
    filter: @updateFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:last-child:hover{
    background: @hoverUpdateGardient;
    background: @hoverUpdateGardientMozL;
    background: @hoverUpdateGardientWebL;
    background: @hoverUpdateGardientWeb;
    background: @hoverUpdateGardientOL;
    background: @hoverUpdateGardientMsL;
    background: @hoverUpdateGardientL;
    filter: @hoverUpdateFilter;
  }

  .modifier p:first-child{
    background: @deletGardient;
    background: @deletGardientMozL;
    background: @deletGardientWebL;
    background: @deletGardientWeb;
    background: @deletGardientOL;
    background: @deletGardientMsL;
    background: @deletGardientL;
    filter: @deletFilter;
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
  }

  .modifier p:first-child:hover{
    background: @hoverDeletGardient;
    background: @hoverDeletGardientMozL;
    background: @hoverDeletGardientWebL;
    background: @hoverDeletGardientWeb;
    background: @hoverDeletGardientOL;
    background: @hoverDeletGardientMsL;
    background: @hoverDeletGardientL;
    filter: @hoverDeletFilter;

  }

  .modifier a,  .modifier .icon-pencil-alt a:hover, .modifier .icon-cancel a:hover, .error a{
    color: @textColorButton;
    text-decoration: none;
  }

  //Pagination + bouton erreur
  section footer a, section footer strong, .error a{
    -webkit-border-radius: @borderRWebK;
    -moz-border-radius: @borderRMoz;
    border-radius: @borderR;
    text-align: center;
    box-shadow: @boxShadow;
  }

  section footer a, section footer strong{
    width: 10px;
  }

  input{
    height: 25px;
  }

}